/* tabla admin */
.dt-buttons{
    margin-left: 90%;
    margin-bottom: 2%;

}

.dt-button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    border-radius: 6px;
    border: 2px solid #2f854f;
}

.dt-button span{
    color: #2f854f;
}


.buttons-excel{
    background-color: white;
}

.buttons-excel:hover{
    background-color: #2f854f;
    transition: all linear .3s;
    transform: scale(1.1);
}

.buttons-excel:hover > span{
    transition: all linear .3s;
    color: white;
}

.dataTables_filter{
    margin-left: 25%;
    margin-top: -50px;
}

.dataTables_paginate{
    margin-top: 1%;

}

.paginate_button{
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.current{
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.card-header{ 
    color: #ffffff;
}

.img-cargando img{
    width: 5%;
    height: auto;
}